body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0; 
    background: url(FFS_Pics/FFS_Background.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity here */
    z-index: -1; /* Ensure this layer is behind other content */
}

header {
    background-image: linear-gradient(to right,#2c7da0, #89c2d9, #2c7da0); /* Gradient color */
    color: #000000;
    padding: 35px;
    text-align: center;
    font-size: 1.5em; /* Adjusted font size of header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
}

nav ul li {
    display: inline;
     margin-left: 20px;
}
        
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

nav ul li a:hover {
     text-decoration: underline;
}

.logo {
    width: 130px; /* Adjust the width of the logo */
} 

h1 {
    margin-top: 0;
}
.section-header {
    background-image: linear-gradient(to right,#000000, #1d1d1d,#000000); 
    color: #ffffff;
    padding: 1px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; 

}
.section-header1 {
    background-image: linear-gradient(to right, #000000, #1d1d1d, #000000);
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
    font-size: 2em;
    display: flex;
    justify-content: center; /* Adjust alignment of items horizontally */
    align-items: center;           /* Align items vertically */
}

.logo {
    margin-right: 10px; /* Adjust the spacing between logo and text */
}

.header-text {
    flex: 1; /* Allow text to take up remaining space */
    text-align: center; /* Center the text */
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.food-card {
    background-image: linear-gradient(to right, #ffffff, #c2bfbf);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5em;
    padding: 3em;
    width: 1000px;

}

.food-card.full-screen {
    width: calc(70% - 10px); /* Set width to full screen */
    margin: 80px; /* Adjust margin for full screen */
    box-shadow: none; /* Remove box shadow */
    
}


.food-card h2 {
    color: #000000;
    text-align: center; 
    font-size: 2em; /* Adjusted font size of header */
    cursor: pointer; /* Add cursor pointer for clickable effect */

}
.food-card p {
    color: #000000;
    font-family: Arial, sans-serif; /* Apply Arial font to ingredients and instructions */
    font-size: 1.4em; /* Adjusted font size of section header */

}
.food-card img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}    
.food-card li {
    
}

h2 {
    text-decoration: underline; /* Add underline to h2 elements */
}

.footer {
    background-image: linear-gradient(to right,#2c7da0, #89c2d9, #2c7da0); /* Gradient color */
    color: #000000;
    text-align: center;
    font-size: 1.5em; /* Adjusted font size of header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}