body {
            font-family: cursive;
            margin: 0;
            padding: 0; 
            background: url(FFS_Pics/FFS_Background.jpg); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center;
}

        body::after {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5); 
            z-index: -1;
}
        
header {
    background-image: linear-gradient(to right,#e5d05f, #e4dc24, #e5d05f); 
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 10px;
    justify-content:left;
    font-size: small;
    margin-right: 0;
}

        nav {
            display: flex;
            justify-content: flex;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
             margin-left: 10em ;
             padding: 0;
        }

        nav ul li {
            display: inline;
             margin-left: 40px;
        }
                
        nav ul li a {
            text-decoration: none;
            color: #000000;
            font-size: 1.5em;
        }

        nav ul li a:hover {
             text-decoration: underline;
        }
    
        .logo {
            height:60px;
            width: auto;
        }   

        .header-text {
            flex: 1; 
            text-align: center;
        }

        .food-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px;

            /* display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px; */
        }

        .food-card {
            background-image: linear-gradient(to right, #ffffff, #c2bfbf);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 5em;
            padding: 3em;
            width: 1000px;
            text-align: justify;

            /* display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            border: 5px solid #ff9800;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background: #ffffff;
            max-width: 1000px;
            width: 100%; */
        
        }

        .food-card.full-screen {
            width: calc(70% - 10px);
            margin: 80px;
            box-shadow: none;
            
        }
        
        .food-card h2 {
            color: #000000;
            text-align: center; 
            font-size: 2em; 
            cursor: pointer; 

        }
        .food-card p {
            color: #000000;
            font-family: Arial, sans-serif; 
            font-size: 1.4em; 

        }
        .food-card img {
            width: calc(70% - 10px);
            border-radius: 20px;
            margin-bottom: 20px;
            margin-left: 18em;
            height: 400px;
            width: 400px;

            /* width: 250px;
            height: 250px;
            background: #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
        }    

        .recipes, .instructions {
            padding: 10px;
        }
        h1 {
            font-size: 1.8em;
        }
        h2 {
            font-size: 1.3em;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .food-card li {
            
        }

        h2 {
            text-decoration: none;     
            font-size: 1.3em;      

   
        }  
    
        .footer {
            background-image: linear-gradient(to right,#e5d05f, #e4dc24, #e5d05f);
            color: #000000;
            text-align: center;
            font-size: 1em; 
            display: flex;
            align-items: center;
            justify-content:center;
            margin-top: 50%;
        }

        .center-container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            height: 10vh;
            margin: 0;
        }

         .search-container {
            display: inline-block;
            position: relative;
            align-items: center;
            text-align: center;
            width: 50%;
    
        }
        .search-container input[type="text"] {
            padding: 10px;
            border-radius: 20px;
            border: 2px solid #ccc;
            margin-right: 10px;
            width: 70%; 
            font-size: 16px; 
        }
        .search-container button {
            padding: 10px 20px;
            background-color: #2d3134;
            color: #fff;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 20px;
        } 

        .suggestions-dropdown {
            position: absolute;
            top: 100%;
            background: white;
            border: 1px solid #ccc;
            max-height: 200px;
            width: 100%;
            overflow-y: auto;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: none;
            z-index: 1000;
        }
        
        .suggestions-dropdown li {
            padding: 8px;
            cursor: pointer;
        }
        
        .suggestions-dropdown li:hover {
            background: #f0f0f0;
        }
        